.nav-left{
    
}
.nav-left img{
    width:50px;
}
header a{
    color:#fff;
}
header a:hover{
    opacity: 0.5;
}
.hamburger {
    border: 1px solid #777777;
    border-radius: 5px;
    padding: 5px;
}
.hamburger > svg{
    font-size:40px;
    cursor: pointer;
}